.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.content {
  flex: 1;
  margin-left: 250px; 
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 1.5rem;
  background-color: #f3f4f6;
}

@media (max-width: 768px) {
  .content {
    margin-left: 60px;
  }
}
